{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue dans OGAM Server</h1>


<h2>Application Parameters</h2>

<table>

{% for applicationParameter in applicationParameters %}
	<tr>
	<td>{{ applicationParameter.name }}</td>
	<td>{{ applicationParameter.value }}</td>
    </tr>
{% endfor %}
</table>

<h2>Users</h2>

{#dump(users) #}


{% for user in users %}
    <p>
    User :{{ user.login }}<br/> 
    Name : {{ user.username }}<br/>
    Rôles :
    {% for role in user.roles %}
    	{{ role.label }}
    {% endfor %}<br/>
    Provider : {{ user.provider.label }}
    </p>
{% endfor %}

<h2>Mode</h2>

{{ mode.unit }} / {{ mode.code }} : {{ mode.label }}


<h2>Table Field</h2>

{{ tableField.format }} /  {{ tableField.data }} : {{ tableField.columnName }} 


{% endblock %}