{% extends "::base.html.twig" %}
{% block body %}
<h1>
   {{ 'Data harmonization module'|trans }}
</h1>

<div class="error-msg">
<img src="{{ asset('img/Red_x.png') }}" height='32' />{{ errorMessage }}
</div>
<div class="bottom-menu">
<a href="{{ path('harmonization_home') }}"><b>{{ 'Back'|trans}}</b></a>
</div>
{% endblock %}